{
  "parser": "babel-eslint",
  "plugins": [
      "react",
      "import",
      "jsx-a11y"
  ],
  "extends": [
      "airbnb-base",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:react/recommended"
  ],
  "rules": {
    "max-len": ["error", 180, 2, {
      ignoreUrls: true,
      ignoreComments: false,
      ignoreRegExpLiterals: true,
      ignoreStrings: true,
      ignoreTemplateLiterals: true,
    }],
    "class-methods-use-this": ["error", {
      exceptMethods: [
        "render",
        "FBlogin",
        "getInitialState",
        "getDefaultProps",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
      ],
    }],
    "global-require": "off",
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off"
  },
  "settings": {
      "import/core-modules": [ "react" ],
  },
  "env": {
      "browser": true,
      "node": true,
      "jasmine": true,
  },
}
